@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap')
supports(font-tech(color-COLRv1));

@supports not (font-tech(color-COLRv1)) {
  @font-face {
    font-family: 'Noto Color Emoji';
    src: url('app/static/NotoColorEmoji-SVG.otf') format('opentype');
  }
}

* {
  font-family: 'Roboto', 'Noto Color Emoji', sans-serif !important;
  font-weight: 300 !important;
}

html {
  font-size: 13px;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}

hr {
  margin-bottom: 1.25rem !important;
  margin-top: 0.75rem !important;
}

/* main */
.stMain {
  scrollbar-width: none;
}

.stMainBlockContainer {
  padding: 1rem 2rem;
}

/* sidebar */
.stSidebar[aria-expanded='true'] {
  max-width: 506px;
}

div[data-testid='stSidebarContent'] {
  padding-left: 1rem;
  padding-right: 1rem;
  scrollbar-width: none;
}

div[data-testid='stSidebarUserContent'] {
  padding-bottom: 1rem;
}

/* icon */
span[data-testid='stIconMaterial'] {
  font-family: 'Material Symbols Rounded' !important;
}

/* menu */
#MainMenu {
  display: none;
}

/* header */
.stAppHeader {
  background-color: transparent;
}

/* deploy */
.stAppDeployButton {
  display: none;
}

/* multiselect */
.stMultiSelect span[role='button'] span:first-of-type {
  max-width: 320px;
}

/* emoji */
span[data-testid='stAlertDynamicIcon'] {
  left: -2px;
}

/* anchor */
span[data-testid='stHeaderActionElements'] {
  display: none;
}

/* toolbar */
.stElementToolbar {
  display: none;
}
