@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Roboto&display=swap');

* {
  font-family: 'Roboto', 'Noto Color Emoji', sans-serif;
  font-weight: 300;
}

html {
  font-size: 12px;
}

/* main */
.st-emotion-cache-1jicfl2 {
  padding: 1rem 3rem;
}

#MainMenu {
  display: none;
}

/* menu */
.st-emotion-cache-di3q58 {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.stDeployButton {
  display: none;
}

/* multiselect */
.stMultiSelect span[role='button'] span:first-of-type {
  max-width: 320px;
}

/* emoji */
.st-emotion-cache-6jwljf {
  padding-right: 1.5rem;
}

/* anchor */
.st-emotion-cache-gi0tri {
  display: none;
}

/* picture */
.st-emotion-cache-1e043kk {
  display: none;
}
